<div class="row">
  <div class="col-6">
    <div class="alert alert-primary" role="alert">
      <h1 class="text-center text-danger">Sin redux</h1>
    </div>

    <div class="row text-center">
      <div class="col">
        <h1>Contador</h1>
        <h2>{{ srcontador }}</h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <button (click)="sr_incrementar()" class="btn btn-primary">Incrementar</button>
        <button (click)="sr_decrementar()" class="btn btn-info">Decrementar</button>
      </div>
    </div>

    <hr>

    <div class="row text-center">
      <div class="col">
        <app-srhijo [srcontador]="srcontador" (srcambioContador)="srcontador = $event"></app-srhijo>
      </div>
    </div>
  </div>
  <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <div class="col-6">
    <div class="alert alert-primary" role="alert">
      <h1 class="text-center text-danger">Con redux</h1>
    </div>
    <div class="row text-center">
      <div class="col">
        <h1>Contador</h1>
        <h2>{{ contador }}</h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <button (click)="incrementar()" class="btn btn-primary">Incrementar</button>
        <button (click)="decrementar()" class="btn btn-info">Decrementar</button>
      </div>
    </div>

    <hr>

    <div class="row text-center">
      <div class="col">
        <app-hijo></app-hijo>
      </div>
    </div>
  </div>
</div>